<%
  const isLink = typeof href !== 'undefined'
  const resolvedClassName = typeof className !== 'undefined'
    ? className
    : (isLink ? 'button-primary' : 'button-primary button-full')
%>
<% if (isLink) { %>
  <a href="<%= href %>" class="<%= resolvedClassName %>"><%= label %></a>
<% } else { %>
  <button type="<%= typeof type !== 'undefined' ? type : 'submit' %>" class="<%= resolvedClassName %>"<% if (typeof dataMode !== 'undefined') { %> data-mode="<%= dataMode %>"<% } %>><%= label %></button>
<% } %>
